*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}

body, html{
    background: #d90c43;
}

.btn-open-popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #d90c43;
    display: block;
    background: white;
    padding: 20px 50px;
    border-radius: 50px;
}

.container-all{
    width: 100%;
    height: 100%;
    position: fixed;
    visibility: hidden;
    opacity: 0;
    transition: all 600ms;
    
}

.container-all:target{
    background: rgba(0, 0, 0, 0.8);
    visibility: visible;
    opacity:1 ;
}

.container-all:target .popup{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    visibility: visible;
}

.popup{
    width: 100%;
    max-width: 800px;
    height: 500px;
    position: relative;
    display: flex;
    background: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img{
    width: 40%;
    background-image: url(../imagen/INDICE-DE-RIEGO-DE-FUEGO-POR-MUNICIPIO.jpg);
    background-size: cover;
    background-position: center;
}

.container-text{
    width: 60%;
    padding: 50px;
    overflow-y: auto;

}

.container-text h1{
    font-size: 30px;
}

.container-text p{
    margin-top: 20px;
    font-size: 10px;
}

.btn-close-popup{
    width: 50px;
    height: 50px;
    position: absolute;
    right: -20px;
    top: -20px;
    padding: 20px;
    background: black;
    color: white;
    border-radius: 50%;
    line-height: 10px;
}

.boton-mapa{
    width: auto;
    height: auto;
    padding: auto;
    background: black;
    color: white;
    border-radius: 10%;
}

